/* Importiere die Google-Schriftart */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Setze die Schriftart für den gesamten Text im Dokument */
html, body {
    font-family: 'Raleway', sans-serif;
}

/* Setze die Schriftart für andere Elemente, wenn nötig */
/* z.B. Überschriften, Absätze, etc. */

/* Reset für margin, padding und box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


